<div id="chat-box-<%= conversation.id %>" class="chatbox">
  <div class="chatbox-top">
    <div class="chatbox-avatar">
      <%= image_tag(gravatar_for recipient, size: 50) %>
    </div>
    <div class="chat-partner-name">
      <span class="status"></span>
      <%= link_to recipient.name, recipient %>
    </div>
    <div>
      <button type="button" class = "btn btn-danger" onclick="closeForm()" id = "close_btt">X</button>
    </div>
  </div>

  <div id="list-massages-<%= conversation.id %>" class="chat-messages">
    <h6 class="discord">
      <% if discord_url current_user.id, recipient.id %>
        <%= link_to @url, target: "_blank" do %>
          <i class="fab fa-discord"></i>
          <%= t ".discord_link" %>
        <% end %>
      <% else %>
        <%= link_to discord_index_path(name: "#{recipient.name}", id: "#{recipient.id}"), method: :post do %>
          <i class="fab fa-discord"></i>
          <%= t ".create_discord" %>
        <% end %>
      <% end %>
    </h6>
    <% if conversation.messages.any? %>
      <%= render conversation.messages %>
    <% end %>
  </div>

  <div class="chat-input-holder">
    <%= render('conversations/conversation_form', conversation: conversation, recipient: recipient) %>
  </div>
</div>

<script>
  function closeForm() {
    $("#chat-box-<%= conversation.id %>").css("display","none")
  }
</script>
